/* æœªèƒ½ç¼©å°ã€‚æ­£åœ¨è¿”å›žæœªç¼©å°çš„å†…å®¹ã€‚
(83,11): run-time error CSS1036: Expected expression, found '@tc1'
(84,5): run-time error CSS1062: Expected semicolon or closing curly-brace, found '&'
(109,19): run-time error CSS1035: Expected colon, found '{'
(181,15): run-time error CSS1035: Expected colon, found ';'
(181,22): run-time error CSS1036: Expected expression, found '@tc3'
(181,76): run-time error CSS1035: Expected colon, found ';'
(183,27): run-time error CSS1036: Expected expression, found '@tc2'
(184,35): run-time error CSS1036: Expected expression, found '@hc'
(185,32): run-time error CSS1036: Expected expression, found '@tc4'
(186,34): run-time error CSS1036: Expected expression, found '@tc1'
(188,46): run-time error CSS1035: Expected colon, found ';'
(189,39): run-time error CSS1036: Expected expression, found '@hc'
(199,45): run-time error CSS1036: Expected expression, found '@tc3'
(200,32): run-time error CSS1036: Expected expression, found '@hc'
(204,146): run-time error CSS1062: Expected semicolon or closing curly-brace, found 'r('
(206,81): run-time error CSS1035: Expected colon, found ';'
(212,10): run-time error CSS1035: Expected colon, found '{'
(227,7): run-time error CSS1035: Expected colon, found '{'
(229,10): run-time error CSS1035: Expected colon, found '{'
(247,6): run-time error CSS1035: Expected colon, found ','
 */


/*
KISSY CSS Reset
ç†å¿µï¼šæ¸…é™¤å’Œé‡ç½®æ˜¯ç´§å¯†ä¸å¯åˆ†çš„
ç‰¹è‰²ï¼š1.é€‚åº”ä¸­æ–‡ 2.åŸºäºŽæœ€æ–°ä¸»æµæµè§ˆå™¨
*/
html{color:#333;}
/* æ¸…é™¤å†…å¤–è¾¹è· */
a,body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements ç»“æž„å…ƒç´  */
dl, dt, dd, ul, ol, li, /* list elements åˆ—è¡¨å…ƒç´  */
pre, /* text formatting elements æ–‡æœ¬æ ¼å¼å…ƒç´  */
fieldset, lengend, button, input, textarea, /* form elements è¡¨å•å…ƒç´  */
th, td { /* table elements è¡¨æ ¼å…ƒç´  */
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei","å¾®è½¯é›…é»‘",Arial,"Hiragino Sans GB","å®‹ä½“";
}
input, textarea {
    color: #444;
}

/* è®¾ç½®é»˜è®¤å­—ä½“ */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "å®‹ä½“", sans-serif;*/
    font: 12px/1 "Microsoft Yahei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* ç”¨ ascii å­—ç¬¦è¡¨ç¤ºï¼Œä½¿å¾—åœ¨ä»»ä½•ç¼–ç ä¸‹éƒ½æ— é—®é¢˜ */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* å°†æ–œä½“æ‰¶æ­£ */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* ç»Ÿä¸€ç­‰å®½å­—ä½“ */
small { font-size: 12px; } /* å°äºŽ 12px çš„ä¸­æ–‡å¾ˆéš¾é˜…è¯»ï¼Œè®© small æ­£å¸¸åŒ– */

/* é‡ç½®åˆ—è¡¨å…ƒç´  */
ul, ol { list-style: none; }

/* é‡ç½®æ–‡æœ¬æ ¼å¼å…ƒç´  */
a { text-decoration: none; }
a:hover { text-decoration: none; cursor:pointer; }

abbr[title], acronym[title] { /* æ³¨ï¼š1.ie6 ä¸æ”¯æŒ abbr; 2.è¿™é‡Œç”¨äº†å±žæ€§é€‰æ‹©ç¬¦ï¼Œie6 ä¸‹æ— æ•ˆæžœ */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* é‡ç½®è¡¨å•å…ƒç´  */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img æ­è½¦ï¼šè®©é“¾æŽ¥é‡Œçš„ img æ— è¾¹æ¡† */
/* æ³¨ï¼šoptgroup æ— æ³•æ‰¶æ­£ */
button, input, select, textarea {
    font-size: 100%; /* ä½¿å¾—è¡¨å•å…ƒç´ åœ¨ ie ä¸‹èƒ½ç»§æ‰¿å­—ä½“å¤§å° */
}

/* é‡ç½®è¡¨æ ¼å…ƒç´  */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    margin:0; padding:0;
}
/* é‡ç½® hr */
hr {
    border: none;
    height: 1px;
}

/* è®©éžieæµè§ˆå™¨é»˜è®¤ä¹Ÿæ˜¾ç¤ºåž‚ç›´æ»šåŠ¨æ¡ï¼Œé˜²æ­¢å› æ»šåŠ¨æ¡å¼•èµ·çš„é—ªçƒ */
html { overflow-y: scroll; }

/*å…¬å…±*/
a:link,a:visited{text-decoration:none;outline:none;}

.bzwhide{display:none;}
a {
    color:@tc1;
    &:hover{color:@hc;}
}

.fl{float:left;}
.fr{float:right;}
.clear{clear:both;width:0;height:0px;margin:0;padding:0;border:none;overflow:hidden;font-size:0px;}
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;}
.font-YH {font-family: 'Microsoft YaHei';}

/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu,main{display:block}
.lazy{ background:#f7f7f7 url(/themes/Common/loading/common.gif) center center no-repeat;}
.lazy-min{ background:#f7f7f7 url(/themes/Common/loading/commonmin.gif) center center no-repeat !important;}



/* menu */
.navbar-menu {
    overflow: hidden;
    margin-bottom: 20px;
    height: 40px;
    border-bottom: 1px #EEE solid;

    .navbar-links {
        float: right;

        a {
            display: block;
            float: left;
            text-decoration: none;
            height: 24px;
            .s12;
            line-height: 24px;
            padding: 0 16px 0 8px;
            margin-top: 8px;
            color:@tc2;
            background: url(/themes/Common/images/line_split.gif) no-repeat right center;
            &:hover {
                color:@mc2;
            }

        }

        a:last-child {
            background: none !important;
            padding-right: 0 !important;
        }

    }


        a.free-release {
            display: block;
            height: 20px !important;
            line-height: 20px !important;
            padding: 3px 20px !important;
            .btn3;
            float: right;
            margin: 5px 0 0 20px;
        }

    h3 {
        float: left;
        .s24;
        line-height: 28px;
        color:@tc1;
        font-weight: normal;
        text-indent: 0;

        label {
            float: left;

            a {
                .link;
                color:@tc1;
            }
        }

        span {
            float: left;
            .s12;
            color: @tc3;
            font-weight: normal;
            margin-left: 15px;
            margin-top: 6px;
        }

        i {
            color: @ic;
            margin: 0 5px;
            font-style: normal;
        }
    }
}
/*å½“å‰ä½ç½®*/
.nav-local{.bc;color:@tc3;height:46px;line-height:46px;margin: 0 auto; .s12;border-bottom: 1px #EEE solid;min-width:1220px;}
.nav-local .local{ float:left;height:46px;line-height: 46px;background: url(/themes/Common/icon/icon_home.gif) no-repeat 6px center!important;  padding-left:32px;}
.nav-local .local a{color:@tc2;}
.nav-local .local a:hover {color: @hc;}
.nav-local .local span {color: @tc4;margin: 0 3px;}
.nav-local .local strong {color: @tc1;}
.nav-local .local-right{ float:right;height:46px;line-height: 46px;}
.nav-local .local-right a{ padding:0 6px;.s14;}
.nav-local .local-right a:hover{color:@hc !important;}



.main{padding:30px 0;}
/* å³ä¾§æ»šåŠ¨å¤„ç† */
.fix_startBottom,.fix_star_fixed{
    background:#FFF;
}
/*æ›´å¤š*/
a.navbar-menu-more{ padding-left:30px;color:@tc3;margin-top:10px;font-size:12px!important;float: right;padding-right: 20px;height: 20px!important;line-height: 20px!important;background: url(/themes/Common/icon/icon_more.gif) no-repeat right center!important; float:right!important; }
a.navbar-menu-more:hover{color:@hc;}


/* åŠ è½½æ›´å¤š */
.load-more { /*width:1220px;*/ max-width:100%; width:100%; height:36px; line-height:36px;  margin:50px auto 30px;background:#D8D8D8; clear:both;.r(4px);}
.load-more:hover{background:#E0E0E0;}
.load-more a { display:inline-block; width:100%; height:40px;  color:#FFF;  .s14;cursor:pointer; text-align:center; }
.load-more a:hover{color:#FFF;}
.load-more a i{ font-family:'å®‹ä½“'; font-style:normal;color:#FFF; }
/*åˆ†é¡µ*/
.common_pages {
    margin:0;padding:30px 0 50px;text-align:center;font-size:0;display:block;clear:both;width:100%;max-width:1220px;
    span {
       padding: 4px 14px 3px; margin:0 4px;  line-height: 28px;text-decoration: none;.bc; border:1px #EEE solid;color:#CCC;font-size:14px;display: inline-block;.r; 
    }
    a {
        padding: 4px 14px 3px; margin:0 4px; line-height: 28px;text-decoration: none;.bc; border:1px #EEE solid;color:#666;font-size:14px;display: inline-block;.r;
        &:hover,&:focus {
            border:1px @mc2 solid;color: #FFF; background:@mc2;.alp(50,.5);
        }
    }
    i {font-size: 12px;color:#999;display: inline-block;margin:0 4px;letter-spacing: 0.1em;margin:0 8px;}
    .common_cur {background-color: @mc2;color:#FFF;cursor: default;border:1px @mc2 solid;.alp(80,.8);}
}

/*æ–°åˆ†é¡µ*/
.common {
    li{display:inline-block;}
    margin:0;padding:30px 0 50px;text-align:center;font-size:0;display:block;clear:both;width:100%;max-width:1220px;
    span {
       padding: 4px 14px 3px; margin:0 4px;  line-height: 28px;text-decoration: none;.bc; border:1px #EEE solid;color:#CCC;font-size:14px;display: inline-block;.r; 
    }
    a {
        padding: 4px 14px 3px; margin:0 4px; line-height: 28px;text-decoration: none;.bc; border:1px #EEE solid;color:#666;font-size:14px;display: inline-block;.r;
        &:hover,&:focus {
            border:1px @mc2 solid;color: #FFF; background:@mc2;.alp(50,.5);
        }
    }
    i {font-size: 12px;color:#999;display: inline-block;margin:0 4px;letter-spacing: 0.1em;margin:0 8px;}
    .common_cur {background-color: @mc2;color:#FFF;cursor: default;border:1px @mc2 solid;.alp(80,.8);}
}



/*å†…å®¹åˆ†é¡µ*/
.common-detail_pages {
    margin:0;padding:20px;text-align:center;font-size:12px;display:block;clear: both;
    a,span {
        margin: 0;padding: 2px 10px 3px;line-height: 20px;text-decoration: none;.bc;color: #666;display: inline-block;
    }
    a {
        :hover,&:focus {
            background-color: #ddd;color: #444;
        }
    }
    .common-detail_cur {background-color:@mc2;color: #fff;cursor: default;}
}



/*baiduåˆ†äº«*/
.bdsharebuttonbox{line-height:24px!important;height: 24px!important;vertical-align: top!important;}
.bdsharebuttonbox span{ float:left!important;}
.bdsharebuttonbox a{width: 24px!important;height: 24px!important;display: inline-block!important;margin:0 0 0 5px!important;background: url(/themes/Common/icon/share.png) no-repeat!important;cursor: pointer!important;margin-bottom: 0!important;opacity: .8!important;text-indent:0!important;}
.bdsharebuttonbox a:hover{opacity: 1!important;}
.bdsharebuttonbox a.bds_tsina{background-position     : 0 0!important;}
.bdsharebuttonbox a.bds_weixin{background-position    : 0 -33px!important;}
.bdsharebuttonbox a.bds_qzone{background-position     : 0 -65px!important;}
.bdsharebuttonbox a.bds_sqq{background-position       : 0 -98px!important;}
.bdsharebuttonbox a.bds_renren{background-position    : 0 -131px!important;}
.bdsharebuttonbox a.bds_tqq{background-position       : 0 -163px!important;}
.bdsharebuttonbox a.bds_diandian{background-position  : 0 -356px!important;}
.bdsharebuttonbox a.bds_youdao{background-position    : 0 -388px!important;}
.bdsharebuttonbox a.bds_ty{background-position        : 0 -420px!important;}
.bdsharebuttonbox a.bds_fbook{background-position     : 0 -452px!important;}
.bdsharebuttonbox a.bds_twi{background-position       : 0 -484px!important;}
.bdsharebuttonbox a.bds_kaixin001{background-position : 0 -228px!important;}
.bdsharebuttonbox a.bds_taobao{background-position    : 0 -196px!important;}
.bdsharebuttonbox a.bds_douban{background-position    : 0 -324px!important;}
.bdsharebuttonbox a.bds_mail{background-position      : 0 -548px!important;}
.bdsharebuttonbox a.bds_copy{background-position      : 0 -516px!important;}
.bdsharebuttonbox a.bds_bdhome{background-position    : 0 -292px!important;}
.bdsharebuttonbox a.bds_tqf{background-position       : 0 -260px!important;}

.bdsharebuttonbox a.bds_more, .bdsharebuttonbox a.bds_count{background: none!important;width: auto!important;height: auto!important;position: relative!important;top: -4px!important;}
.bdsharebuttonbox a.bds_count{margin: 0 2px!important;}



/*-- å¹¿å‘Š --*/
.bzw-show{width:130px;height:280px;position:fixed; top:260px;border:1px solid #eee;}
.bzw-left-show{left:50%;margin-left:-760px;background:url(/Themes/Common/Images/show/left-show.jpg) no-repeat center;}
.bzw-right-show{left:50%;margin-left:630px;background:url(/Themes/Common/Images/show/right-show.jpg) no-repeat center;}
.bzw-show-close{height:20px;line-height:20px;background-color:#999999;color:#fff;text-align:center;font-size:12px;position:absolute;top:280px;left:0;width:131px;cursor:pointer;}
.bzw-show-close:hover{background-color:#0066cc;}
@charset "utf-8";

/*========== å…¬å…±éƒ¨åˆ† ==========*/
::selection {
	background: #323232;
	color: #fff;
}
::-moz-selection {
	background: #323232;
	color: #fff;
}
::-webkit-selection {
	background: #323232;
	color: #fff;
}
.common_pages {
	clear: both;
	padding: 20px 0;
	font-size: 14px;
	color: #b3b3b3;
	text-align: center;
}
.common_pages a, .common_pages span {
	height: 38px;
	line-height: 38px;
	display: inline-block;
	font-size: 14px;
	margin: 0 10px;
	text-align: center;
	color: #b3b3b3;
	background: #fff;
	padding: 0 20px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
}
.common_pages a:hover {
	background: #FF0000 !important;
	color: #fff !important;
	text-decoration: none;
}
.common_pages .common_cur {
	background: #FF0000 !important;
	color: #fff !important;
	text-decoration: none;
}

/*========== å¤´éƒ¨ ==========*/
.top-bar {
	background: #fff;
	height: 70px;
	position: relative;
}
.top-bar .top-bar-left {
	position: absolute;
	left: 3%;
	top: 20px;
	overflow: hidden;
}
.top-bar .top-bar-left i {
	display: block;
	height: 32px;
	width: 104px;
	float: left;
	margin-right: 20px;
}
.top-bar .top-bar-left h1 {
	float: left;
	color: #666;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	font-weight: normal;
}
.top-bar .top-bar-left i img {
	display: block;
	width: 100%;
	height: 100%;
}
.top-bar .top-bar-right {
	position: absolute;
	left: 380px;
	top: 20px;
	z-index:9;
}
.top-bar .top-bar-right p {
	background: url(/themes/roots/Abouts/images/pager/icon01.png) no-repeat left center;
	font-weight: bold;
	color: #e53147;
	font-size: 20px;
	height: 29px;
	line-height: 29px;
	padding-left: 40px;
}
.top-bar .top-bar-nav {
	display: block;
	float: right;
}
.top-bar .top-bar-nav li {
	float: left;
	margin-right: 40px;
	position: relative;
}
.top-bar .top-bar-nav li a {
	display: block;
	height: 70px;
	line-height: 70px;
	font-size: 16px;
	text-decoration: none;
}
.top-bar .top-bar-nav .sub-menu {
	position: absolute;
	top: 66px;
	left: -45px;
	margin: 0;
	display: none;
	border: 1px solid #ddd;
	border-top: 3px solid #D60A0A;
	background: #fff;
	width: 170px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.top-bar .top-bar-nav .sub-menu li {
	float: none;
	text-align: center;
	position: relative;
}
.top-bar .top-bar-nav .sub-menu li .bline {
	border-bottom: 1px solid #e5e5e5;
}
.top-bar .top-bar-nav .sub-menu li a {
	color: #999;
	display: block;
	width: 140px !important;
	height: 50px;
	line-height: 50px;
	position: relative;
	padding-left: 30px;
	font-size: 14px;
	text-align: left;
}
.top-bar .top-bar-nav .sub-menu li a:hover {
	background: #F4F4F4;
	color: #6c6c6c !important;
}
.top-bar .top-bar-nav .sub-menu li a i {
	display: none;
	position: absolute;
	top: 22px;
	right: 30px;
	background: url(/themes/roots/Abouts/images/pager/icon02.png) no-repeat center center;
	width: 4px;
	height: 7px;
}
.top-bar .top-bar-nav .sub-menu li a:hover i {
	display: block;
}
.top-bar .top-bar-nav .sub-menu li ul {
	position: absolute;
	top: 0;
	left: 170px;
}

/*========== Banner ==========*/
.banner_help {
	display: block;
	height: 210px;
	width: 100%;
	background:url(/themes/roots/Abouts/images/pager/helpcenter.jpg) no-repeat center center;
	min-width:1220px;
}

.banner_product {
	display: block;
	height: 210px;
	width: 100%;
	background:url(/themes/roots/Abouts/images/pager/product.jpg) no-repeat center center;
	min-width:1220px;
}
.banner_profile {
	display: block;
	height: 210px;
	width: 100%;
	background:url(/themes/roots/Abouts/images/pager/profile.jpg) no-repeat center center;
	min-width: 1220px;
}
.banner_recruitment {
	display: block;
	height: 210px;
	width: 100%;
	background:url(/themes/roots/Abouts/images/pager/recruitment.jpg) no-repeat center center;
	min-width:1220px;
}
.banner_top_banner{
	display: block;
	height: 210px;
	width: 100%;
	background:url(/themes/roots/Abouts/images/pager/top-banner.jpg) no-repeat center center;
	min-width:1220px;
}
.banner_ContactUs{
	display: block;
	height: 210px;
	width: 100%;
	background:url(/themes/roots/Abouts/images/pager/contactus.jpg) no-repeat center center;
	min-width:1220px;
}
/* ä¸­éƒ¨åŒºåŸŸ-Start */
.main {
	margin: 30px 0 20px 0;
}
.all-tit h3 {
	color: #666;
	font-size: 24px;
	background: url(/themes/roots/Abouts/images/pager/icon09.jpg) no-repeat center bottom;
	text-align: center;
	height: 60px;
	line-height: 60px;
	font-weight: normal;
}

/*========== ä¸è‰¯ä¿¡æ¯ä¸¾æŠ¥ ==========*/
.report-page-switch {
	margin-top: 50px;
}
.report-page-switch .hd {
	text-align: center;
}
.report-page-switch .hd a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin: 0 10px;
	border-radius: 20px;
	padding: 0 30px;
	text-decoration: none;
	border: 1px solid #fff;
	font-size: 15px;
}
.report-page-switch .hd a.on {
	border: 1px solid #E53147;
	color: #e53147;
}
.report-page-switch .hd a:hover {
	border: 1px solid #E53147;
}
.report-page-switch .bd {
	margin-top: 50px;
}
.report-page-switch .bd .tab-pal01 ul {
	overflow: hidden;
	padding: 10px;
}
.report-page-switch .bd .tab-pal01 ul li {
	float: left;
	width: 230px;
	height: 310px;
	text-align: center;
	overflow: hidden;
	padding-top: 40px;
}
.report-page-switch .bd .tab-pal01 ul li:hover {
	box-shadow: 0 0 5px #ccc;
}
.report-page-switch .bd .tab-pal01 ul li:hover h5 {
	color: #e53147;
}
.report-page-switch .bd .tab-pal01 ul li:hover a {
	background: #E53147;
	border: 1px solid #E53147;
	color: #FFF;
}
.report-page-switch .bd .tab-pal01 ul li i {
	display: block;
	margin: 0 auto;
	height: 70px;
	text-align: center;
}
.report-page-switch .bd .tab-pal01 ul li i img {
	display: block;
	height: 70px;
	margin: 0 auto;
}
.report-page-switch .bd .tab-pal01 ul li h5 {
	font-size: 24px;
	color: #333;
	height: 70px;
	line-height: 70px;
	font-weight: normal;
}
.report-page-switch .bd .tab-pal01 ul li p {
	color: #999;
	font-size: 14px;
	line-height: 20px;
	height: 60px;
}
.report-page-switch .bd .tab-pal01 ul li a {
	display: block;
	color: #999;
	font-size: 14px;
	margin: 30px auto 0 auto;
	border-radius: 6px;
	text-decoration: none;
	width: 98px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #E7E7E7;
}
.report-page-switch .bd .tab-pal01 ul li a:hover {
	background: #E53147;
	border: 1px solid #E53147;
	color: #FFF !important;
}

/*========== ç½‘ç«™åœ°å›¾ç›®å½• ==========*/
.directory-page-list {
	overflow: hidden;
}
.directory-page-list ul li {
	float: left;
	width: 267px;
	margin-left: 100px;
	margin-top: 70px;
	height: 160px;
}
.directory-page-list ul li dl dt {
	font-size: 18px;
	color: #e53146;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px dashed #D1D1D1;
}
.directory-page-list ul li dl dd {
	overflow: hidden;
}
.directory-page-list ul li dl dd a {
	display: inline-block;
	float: left;
	font-size: 14px;
	color: #979797;
	margin-top: 12px;
	margin-right: 15px;
}
.directory-page-list ul li dl dt i {
	float: left;
	background: url(/themes/roots/Abouts/images/pager/directory.png) no-repeat;
	display: inline-block;
	height: 31px;
	width: 31px;
	margin-right: 10px;
	margin-top: 10px;
}
.gl-icon {
	background-position: -124px 0 !important;
}
.fw-icon {
	background-position: -155px 0 !important;
}
.xg-icon {
	background-position: -186px 0 !important;
}
.bk-icon {
	background-position: -31px 0 !important;
}
.app-icon {
	background-position: -93px 0 !important;
}
.zz-icon {
	background-position: 0 0 !important;
}
.cs-icon {
	background-position: -62px 0 !important;
}

/*========== æ–°æ‰‹ä¸Šè·¯ ==========*/
.novice-page .novice-page-con {
	margin-top: 20px;
}
.novice-page .novice-page-con ul li img {
	display: block;
	width: 100%;
}
.novice-page .novice-page-con ul li {
	position: relative;
}
.novice-page .novice-page-con ul li .choice {
	position: absolute;
	top: 190px;
	left: 200px;
	color: #999;
	overflow: hidden;
	line-height: 26px;
}
.novice-page .novice-page-con ul li .choice-sec {
	left: 630px !important;
}
.novice-page .novice-page-con ul li .choice a {
	color: #999;
	font-size: 14px;
	
	padding-left: 20px;
	line-height: 26px;
	margin-left: 10px;
}

/*==========å‘å±•åŽ†ç¨‹=============*/
.development-history {
}
.development-history .history {
	position: relative;
	overflow: hidden;
	margin: 50px 33px 40px 36px;
}
.development-history .history ul li {
	overflow: hidden;
	display: block;
}
.development-history .history ul li img {
	display: block;
	height: 249px;
}
.development-history .history .li-right img {
	float: right;
}
.development-history .history {
}

/*========== æ„è§åé¦ˆ ==========*/
.common-problem-switch {
	margin-top: 50px;
}
.common-problem-switch .hd {
	text-align: center;
}
.common-problem-switch .hd a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin: 0 10px;
	border-radius: 20px;
	padding: 0 30px;
	text-decoration: none;
	border: 1px solid #fff;
	font-size: 15px;
}
.common-problem-switch .hd a.on {
	border: 1px solid #E53147;
	color: #e53147;
}
.common-problem-switch .hd a:hover {
	border: 1px solid #E53147;
}
.common-problem-switch .bd {
	margin-top: 30px;
	overflow: hidden;
}
.common-problem-switch .bd .tab-pal01 ul {
	overflow: hidden;
	width: 1260px;
	padding: 10px;
}
.common-problem-switch .bd .tab-pal01 ul li {
	float: left;
	width: 560px;
	margin-right: 55px;
	margin-bottom: 20px;
}
.common-problem-switch .bd .tab-pal01 ul li .tit {
	height: 80px;
	line-height: 80px;
	overflow: hidden;
	background: #F5F5F5;
}
.common-problem-switch .bd .tab-pal01 ul li .tit span {
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background: #EFEFEF;
	font-size: 30px;
	color: #939393;
	margin-right: 20px;
}
.common-problem-switch .bd .tab-pal01 ul li a {
	text-decoration: none;
	display: block;
	border: 1px solid #F5F5F5;
}
.common-problem-switch .bd .tab-pal01 ul li .tit h5 {
	font-size: 16px;
	color: #333;
	font-weight: normal;
	float: left;
}
.common-problem-switch .bd .tab-pal01 ul li .txt {
	padding: 30px 20px;
	overflow: hidden;
}
.common-problem-switch .bd .tab-pal01 ul li .txt span {
	display: block;
	color: #999;
	font-size: 14px;
	float: left;
	background: url(/themes/roots/Abouts/images/pager/icon24.png) no-repeat center center;
	width: 30px;
	padding-right: 4px;
	height: 24px;
	text-align: center;
	line-height: 20px;
	margin-right: 10px;
}
.common-problem-switch .bd .tab-pal01 ul li .txt p {
	float: left;
	display: block;
	width: 470px;
	color: #b0b0b0;
	font-size: 14px;
	line-height: 18px;
}
.common-problem-switch .bd .tab-pal01 ul li a:hover {
	border: 1px solid #E53146;
	box-shadow: 0 0 10px #ccc;
}
.common-problem-switch .bd .tab-pal01 ul li a:hover .tit {
	background: #E53146;
}
.common-problem-switch .bd .tab-pal01 ul li a:hover .tit h5 {
	color: #FFF;
}
.common-problem-switch .bd .tab-pal01 ul li a:hover .tit span {
	color: #FFF;
	background: #E83B4F;
}
.common-problem-switch .bd .tab-pal01 ul li a:hover .txt span {
	color: #FFF;
	background: url(/themes/roots/Abouts/images/pager/icon23.png) no-repeat center center;
}
.common-problem-switch .bd .tab-pal02 {
	width: 860px;
	margin: 0 auto;
}
.common-problem-switch .bd .tab-pal02 p {
	font-size: 14px;
	color: #666;
	line-height: 60px;
}
.common-problem-switch .bd .tab-pal02 textarea {
	border: 1px solid #ddd;
	width: 836px;
	height: 200px;
	padding: 5px;
	outline: none;
}
.common-problem-switch .bd .tab-pal02 .text {
	border: 1px solid #ddd;
	width: 836px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	padding: 0 5px;
	outline: none;
}
.common-problem-switch .bd .tab-pal02 .btn {
	display: block;
	height: 46px;
	line-height: 46px;
	width: 250px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	background: #EB3122;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 35px auto 0 auto;
	cursor: pointer;
}
.common-problem-switch .bd .tab-pal02 .btn:hover {
	background: #f35447;
}

/*========== åœ¨çº¿æ´»åŠ¨ ==========*/
.online-activity-page .online-activity {
	margin-top: 50px;
}
.online-activity-page .online-activity ul li {
	overflow: hidden;
	margin-bottom: 20px;
}
.online-activity-page .online-activity .online-activity-left {
	float: left;
	position: relative;
	width: 850px;
}
.online-activity-page .online-activity .online-activity-left .gray {
	background: #999;
}
.online-activity-page .online-activity .online-activity-left img {
	display: block;
	height: 354px;
}
.online-activity-page .online-activity .online-activity-left span {
	position: absolute;
	top: 0;
	left: 0;
	color: #FFF;
	background: #E53147;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
}
.online-activity-page .online-activity .online-activity-left .sp01 {
	background: #999;
}
.online-activity-page .online-activity .online-activity-left a {
	display: block;
}
.online-activity-page .online-activity .online-activity-right {
	float: right;
	width: 338px;
	border: 1px solid #ddd;
	position: relative;
	height: 352px;
}
.online-activity-page .online-activity .online-activity-right h6 {
	background: #F9F9F9;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-indent: 20px;
}
.online-activity-page .online-activity .online-activity-right .company {
	padding: 20px;
}
.online-activity-page .online-activity .online-activity-right .company-logo {
	overflow: hidden;
}
.online-activity-page .online-activity .online-activity-right .company-logo .logo {
	display: block;
	float: left;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin-right: 15px;
	overflow: hidden;
}
.online-activity-page .online-activity .online-activity-right .company-logo .logo img {
	display: block;
	height: 62px;
}
.online-activity-page .online-activity .online-activity-right .company-logo .company-logo-txt {
	float: left;
	width: 215px;
}
.online-activity-page .online-activity .online-activity-right .company-logo .company-logo-txt h3 {
	line-height: 26px;
	font-size: 14px;
}
.online-activity-page .online-activity .online-activity-right .company-logo .company-logo-txt p {
	color: #999;
	margin-top: 12px;
}
.online-activity-page .online-activity .online-activity-right .company-logo .company-logo-txt p span {
	margin-right: 20px;
	vertical-align: middle;
}
.online-activity-page .online-activity .online-activity-right .company-logo .company-logo-txt .s01 {
	background: url(/themes/roots/Abouts/images/pager/icon26.png) no-repeat left center;
	padding-left: 23px;
}
.online-activity-page .online-activity .online-activity-right .company-logo .company-logo-txt .s02 {
	background: url(/themes/roots/Abouts/images/pager/icon27.png) no-repeat left center;
	padding-left: 20px;
}
.online-activity-page .online-activity .online-activity-right .company-logo .company-logo-txt .s03 {
	background: url(/themes/roots/Abouts/images/pager/icon28.png) no-repeat left center;
	padding-left: 18px;
}
.online-activity-page .online-activity .online-activity-right .explain {
	color: #999;
	line-height: 22px;
	margin: 12px 0;
}
.online-activity-page .online-activity .online-activity-right .date {
	color: #666;
	background: url(/themes/roots/Abouts/images/pager/icon29.png) no-repeat left center;
	height: 26px;
	line-height: 26px;
	padding-left: 20px;
}
.online-activity-page .online-activity .online-activity-right .position {
	color: #666;
	background: url(/themes/roots/Abouts/images/pager/icon30.png) no-repeat left center;
	height: 26px;
	line-height: 26px;
	padding-left: 20px;
}
.online-activity-page .online-activity .online-activity-right .btn {
	position: absolute;
	bottom: 20px;
	left: 5%;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background: #E53146;
	display: block;
	width: 90%;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 5px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.online-activity-page .online-activity .online-activity-right .btn:hover {
	background: #ec5567;
}
.online-activity-page .paging {
	margin: 20px 0;
}
.online-activity-page .paging ul {
	text-align: center;
}
.online-activity-page .paging ul li {
	display: inline;
	margin: 0 5px;
}
.online-activity-page .paging ul li a {
	display: inline-block;
	width: 36px;
	height: 36px;
	color: #999;
	border: 1px solid #DBDBDB;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	text-decoration: none;
}
.online-activity-page .paging ul li a:hover {
	color: #FFF;
	background: #FF0000;
}

/*========== ç‰ˆæƒå£°æ˜Ž ==========*/
.copyright-info {
	margin: 60px 0;
	font-size: 14px;
}
.copyright-info p {
	line-height: 30px;
}
.copyright-info h5 {
	font-size: 24px;
	line-height: 60px;
	font-weight: normal;
}
.copyright-info h5 span {
	color: #b8b8b8;
	font-size: 14px;
	font-weight: normal;
}
.h30 {
	display: block;
	height: 30px;
}
.copyright-info .cp {
	background: url(/themes/roots/Abouts/images/pager/icon31.png) no-repeat left center;
	padding-left: 25px;
}
.copyright-info p a {
	color: #e53146;
	font-weight: bold;
	text-decoration: underline;
}
.copyright-info p span {
	color: #e53146;
	font-weight: bold;
}

/*========== åˆä½œä¼™ä¼´ ==========*/
.partner-page {
	
}
.partner-list {
	overflow: hidden;
	padding-bottom: 50px;
}
.partner-list ul li {
	float: left;
	margin: 40px 13px 0;
	_margin: 40px 8px 0;
}
.partner-list ul li img {
	width: 132px;
	height: 132px;
	background: #F9F9F9;
}
.partner-list ul li a {
	display: block;
	border: 1px solid #EDEDED;
	padding: 5px;
}
.partner-list ul li a:hover {
	border: 1px solid #f00;
}

/*========== ä¼ä¸šç®€ä»‹ ==========*/
.introduction {
	margin: 50px 0 20px;
	font-size: 14px;
	color: #666;
}
.introduction p {
	line-height: 26px;
	text-indent: 2em;
}
.introduction p span {
	color: #e53146;
	font-size: 18px;
	font-weight: bold;
}
.introduction .introduction-fir {
	overflow: hidden;
	margin-bottom: 10px;
}
.introduction .introduction-fir img {
	display: block;
	float: left;
	height: 280px;
}
.introduction .introduction-fir .txt {
	float: right;
	width: 720px;
	margin-top: 20px;
}
.introduction .introduction-sec {
	margin-bottom: 20px;
}
.introduction .introduction-sec h5 {
	color: #333;
	font-size: 24px;
	line-height: 60px;
	font-weight: normal;
	margin-bottom: 10px;
}
.introduction .pic {
	display: block;
	margin: 0 auto;
	height: 375px;
}
.introduction .introduction-thi {
	margin-top: 10px;
}
.introduction .introduction-thi h5 {
	color: #333;
	font-size: 24px;
	line-height: 60px;
	margin-bottom: 10px;
	font-weight: normal;
}

/*========== å…¬å¸åŠ¨æ€ ==========*/
.news-trends {
	margin-bottom: 70px;
}
.news-trends .news {
	margin: 50px 0 20px 0;
	overflow: hidden;
	padding: 5px;
}
.news-trends .news ul li {
	margin-bottom: 15px;
}
.news-trends .news ul li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	background: #F7F7F7;
	overflow: hidden;
}
.news-trends .news .news-left .img {
	display: block;
	width: 202px;
	height: 128px;
}
.news-trends .news .news-left .tit-img {
	display: block;
	float: left;
	margin-right: 40px;
	padding: 16px;
	float: left;
	transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
	border-radius: 10px !important;
}
.news-trends .news ul li a:hover .tit-img {
}
.news-trends .news .news-left .txt {
	margin-top: 10px;
	float: left;
	width: 580px;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.news-trends .news ul li a:hover {
}
.news-trends .news ul li a:hover .txt {
	transform: translateX(30px);
	-webkit-transform: translateX(30px);
	-moz-transform: translateX(30px);
	-ms-transform: translateX(30px);
	-o-transform: translateX(30px);
}
.news-trends .news .news-left .txt h5 {
	margin-bottom: 10px;
	font-size: 16px;
	color: #666;
	font-weight: normal;
	line-height: 50px;
}
.news-trends .news .news-left .txt p {
	color: #999;
	line-height: 20px;
}
.news-trends .news .date-year {
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.news-trends .news ul li a:hover .date-year {
	transform: translateX(-30px);
	-webkit-transform: translateX(-30px);
	-moz-transform: translateX(-30px);
	-ms-transform: translateX(-30px);
	-o-transform: translateX(-30px);
}
.news-trends .news .news-right {
	float: right;
	*display: inline;
	*zoom: 1;
	color: #afafaf;
	width: 150px;
}
.news-trends .news .news-right .date {
	font-size: 32px;
	line-height: 30px;
	margin-top: 20px;
}
.news-trends .news .news-right .year {
	font-size: 14px;
	line-height: 34px;
}
.news-trends .news .news-right .arrow {
	background: url(/themes/roots/Abouts/images/pager/icon41.png) no-repeat center center;
	display: block;
	width: 37px;
	height: 37px;
	margin-top: 25px;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.news-trends .news ul li a:hover {
	box-shadow: 0 2px 10px #ccc;
}
.news-trends .news ul li a:hover .arrow {
	background: url(/themes/roots/Abouts/images/pager/icon42.png) no-repeat center center;
	transform: translateX(30px);
}

/*========== åŠ¨æ€ä¿¡æ¯ ==========*/
.trends-infor {
}
.trends-infor .tit {
	text-align: center;
}
.trends-infor .tit h1 {
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 20px;
}
.trends-infor .tit .date ul {
	text-align: center;
	overflow: hidden;
}
.trends-infor .tit .date ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	border-right: 1px solid #ccc;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	padding-right: 10px;
	color: #999;
}
.trends-infor .tit .date ul li a {
	color: #4095ce;
}
.trends-infor .tit .date ul li span {
	display: inline-block;
	height: 11px;
	line-height: 11px;
	padding-left: 20px;
	margin-right: 10px;
}
.trends-infor .tit .date .sp01 {
	background: url(/themes/roots/Abouts/images/dot02.png) no-repeat left center;
}
.trends-infor .tit .date .sp02 {
	background: url(/themes/roots/Abouts/images/dot03.png) no-repeat left center;
}
.trends-infor .tit .date .sp03 {
	background: url(/themes/roots/Abouts/images/dot04.png) no-repeat left center;
}
.trends-infor .tit .date .share {
	border: 0;
}
.trends-infor .tit .date .share i {
	display: inline-block;
	background: url(/themes/roots/Abouts/images/dot05.png) no-repeat center center;
	width: 9px;
	height: 6px;
	vertical-align: middle;
}
.trends-infor-txt {
	margin: 30px 0 0 0;
	font-size: 14px;
}
.trends-infor-txt .abstract {
	background: #F9F9F9;
	padding: 15px 20px;
	line-height: 28px;
}
.trends-infor-txt .txt p {
	text-indent: 2em;
	line-height: 28px;
	margin: 20px 0;
	color: #666;
}
.trends-infor-txt .txt h4 {
	font-size: 18px;
	color: #cc281b;
	text-indent: 2em;
}
.trends-infor-txt .txt p span {
	border-left: 4px solid #EA5A6B;
	padding-left: 8px;
}
.trends-infor-txt .txt .pic {
	display: block;
	height: 548px;
	margin: 0 auto;
}
.trends-infor-txt .txt .click-like {
}
.trends-infor-txt .txt .click-like a {
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	margin: 80px auto 120px auto;
}
.trends-infor-txt .txt .click-like i {
	display: block;
	width: 40px;
	height: 40px;
	background: url(/themes/roots/Abouts/images/dot06.png) no-repeat center center;
	margin: 20px auto 0 auto;
}
.trends-infor-txt .txt .click-like span {
	font-size: 14px;
	color: #7d7d7d;
	display: block;
	height: 30px;
	line-height: 30px;
}
.trends-infor-txt .txt .click-like a:hover i {
	background: url(/themes/roots/Abouts/images/dot07.png) no-repeat center center;
}
.trends-infor-txt .txt .click-like a:hover span {
	color: #dd4c4e;
}
.trends-infor-txt .page-up-down {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
}
.trends-infor-txt .page-up-down span {
	display: block;
	float: right;
}
.trends-infor-txt .page-up-down a {
	color: #4095ce;
}
.trends-infor-txt .txt-bottom {
	overflow: hidden;
}
.trends-infor-txt .txt-bottom .fir {
	overflow: hidden;
}
.trends-infor-txt .txt-bottom .fir .comment {
	float: right;
	overflow: hidden;
}
.trends-infor-txt .txt-bottom .fir .comment a {
	display: block;
	float: left;
	height: 16px;
	line-height: 16px;
	border: 1px solid #de5052;
	color: #de5052;
	padding: 8px 25px;
	border-radius: 5px;
	margin-left: 10px;
	text-decoration: none;
}
.trends-infor-txt .txt-bottom .fir .comment a i {
	display: inline-block;
	width: 18px;
	height: 16px;
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 8px;
}
.trends-infor-txt .txt-bottom .fir .comment .i01 {
	background: url(/themes/roots/Abouts/images/dot08.png) no-repeat center center;
}
.trends-infor-txt .txt-bottom .fir .comment .i02 {
	background: url(/themes/roots/Abouts/images/dot09.png) no-repeat center center;
}
.trends-infor-txt .txt-bottom .fir span a {
	display: inline-block;
	border: 1px solid #ddd;
	width: 86px;
	height: 26px;
	line-height: 26px;
	border-radius: 5px;
	text-align: center;
	color: #999;
	margin-right: 12px;
	text-decoration: none;
}
.trends-infor-txt .txt-bottom .fir span a:hover {
	color: #de5052;
	border: 1px solid #de5052;
}
.trends-infor .news-recommend {
	margin: 15px 0 20px 0;
	overflow: hidden;
	border-bottom: 1px solid #EAEAEA;
	padding-bottom: 30px;
}
.trends-infor .news-recommend h4 {
	font-size: 22px;
	height: 50px;
	line-height: 50px;
}
.trends-infor .news-recommend ul {
	overflow: hidden;
	width: 1280px;
}
.trends-infor .news-recommend ul li {
	float: left;
	position: relative;
	margin-right: 12px;
}
.trends-infor .news-recommend ul li img {
	width: 288px;
	height: 216px;
	display: block;
}
.trends-infor .news-recommend ul li span {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	color: #FFF;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.trends-infor .news-recommend ul li a:hover span {
	color: #f00;
}
.comments {
	margin: 0 0 80px 0;
}
.comments h4 {
	font-size: 20px;
	color: #666666;
}
.comments .comment {
	overflow: hidden;
	margin: 30px 0;
}
.comments .comment .hd {
	float: left;
	width: 120px;
	overflow: hidden;
}
.comments .comment .hd img {
	display: block;
	height: 69px;
	border-radius: 50%;
	margin: 0 auto;
}
.comments .comment .hd a {
	display: block;
}
.comments .comment .hd p {
	color: #a0a0a0;
	font-size: 12px;
	text-align: center;
	height: 34px;
	line-height: 34px;
}
.comments .comment .bd {
	width: 1070px;
	float: right;
}
.comments .comment .bd textarea {
	border: 1px solid #E5E5E5;
	width: 1058px;
	padding: 5px;
	height: 130px;
	outline: none;
}
.comments .comment .bd .comment-sub {
	overflow: hidden;
	margin-top: 15px;
	line-height: 34px;
	color: #a0a0a0;
	font-size: 12px;
}
.comments .comment .bd .comment-sub .sub {
	float: right;
	width: 120px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #dd4c4e;
	color: #dd4c4e;
	text-align: center;
	border-radius: 10px;
	font-size: 14px;
	background: none;
	cursor: pointer;
}
.comments .comment .bd .comment-sub .sub:hover {
	background: #dd4c4e;
	color: #FFF;
}
.comments .comment-li {
}
.comments .comment-li ul li {
	overflow: hidden;
	margin-bottom: 20px;
}
.comments .comment-li ul li a {
	display: block;
}
.comments .comment-li .hd {
	float: left;
	width: 120px;
	overflow: hidden;
}
.comments .comment-li .hd img {
	display: block;
	height: 69px;
	border-radius: 50%;
	margin: 0 auto;
}
.comments .comment-li .hd a {
	display: block;
}
.comments .comment-li .hd p {
	color: #a0a0a0;
	font-size: 12px;
	text-align: center;
	height: 34px;
	line-height: 34px;
}
.comments .comment-li .bd {
	color: #666;
	font-size: 14px;
	position: relative;
	margin-top: 15px;
	float: right;
	width: 1070px;
}
.comments .comment-li .time {
	color: #999;
	display: block;
	font-size: 12px;
	margin-top: 30px;
}
.comments .comment-li {
}
.paging {
	margin: 20px 0;
}
.paging ul {
	text-align: center;
}
.paging ul li {
	display: inline;
	margin: 0 5px;
}
.paging ul li a {
	display: inline-block;
	width: 36px;
	height: 36px;
	color: #999;
	border: 1px solid #DBDBDB;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	text-decoration: none;
}
.paging ul li a:hover {
	color: #FFF;
	background: #FF0000;
}

/* =========== ä¸¾æŠ¥ä¸­å¿ƒ ==========*/
.report-page {
	margin: 0 0 80px 0;
}
.report-page ul li {
	overflow: hidden;
	margin-bottom: 30px;
}
.report-page ul li span {
	display: block;
	float: right;
	color: #999;
	font-size: 16px;
}
.report-page ul li h4 {
	font-size: 22px;
	font-weight: normal;
	color: #474b50;
	border-bottom: 1px solid #e2e2e2;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
}
.report-page ul li p {
	height: 40px;
	line-height: 40px;
}
.report-page ul li p a {
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #474b50;
}

/*========== ä¸¾æŠ¥ä¸­å¿ƒè¯¦æƒ…é¡µ ==========*/
.report-details {
	margin-bottom: 70px;
}
.report-details h1 {
	text-align: center;
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 60px;
}
.report-details .lead .name, .report-details .lead .time {
	text-align: right;
}
.report-details p {
	line-height: 40px;
	margin: 30px 0;
	text-indent: 2em;
	font-size: 16px;
}
.report-details .lead {
	margin-bottom: 100px;
}
.report-details .lead p {
	text-indent: 2em;
	height: 40px;
	line-height: 40px;
	margin-top: 30px;
	margin-bottom: 0 !important;
}

/*========== å›¢é˜Ÿå»ºè®¾ ==========*/
.team-building .teams {
	margin: 50px 0 20px 0;
}
.team-building .teams ul {
	overflow: hidden;
	margin: 0 20px;
}
.team-building .teams ul li {
	float: left;
	display: block;
	width: 25%;
	overflow: hidden;
	margin-bottom: 10px;
}
.team-building .teams ul li a {
	display: block;
	margin: 0 5px;
	position: relative;
	overflow: hidden;
}
.team-building .teams ul li a img {
	display: block;
	width: 100%;
}
.team-building .teams ul li .open {
	position: absolute;
	
	color: #FFF;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	visibility: hidden;
	
	text-align: center;
}
.team-building .teams ul li a:hover .open {
	visibility: visible;
	
	background: url(/themes/roots/Abouts/images/bg_repeat_black_transparent.png) repeat;
}
.team-building .teams ul li .open h6 {
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
}
.team-building .teams ul li .open p {
	font-size: 14px;
	color: #d5d5d5;
}
.team-building .teams ul li .open-txt {
	display: block;
	top: 50%;
	left: 0;
	right: 0;
	position: absolute;
	margin-top: -30px;
}

/*========== è”ç³»æˆ‘ä»¬ ==========*/
.contact-information {
	margin: 50px 0 30px 0;
	position: relative;
}
#map {
	display: block;
	width: 100%;
	height: 580px;
	overflow: hidden;
	margin: 0;
	min-width:1220px;
}
.contact-information .contact-us {
	position: absolute;
	top: 70px;
	right: 50%;
	margin-right: -570px;
	background: #FFF;
	box-shadow: 0 0 5px #ccc;
	padding: 20px 20px;
	width: 330px;
	box-shadow: 0 4px 15px #afafaf;
}
.contact-information .contact-us .contact-fir {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}
.contact-information .contact-us .contact-fir span {
	font-size: 18px;
	color: #c6c6c6;
	line-height: 24px;
}
.contact-information .contact-us .contact-fir h4 {
	font-size: 30px;
	color: #010101;
	font-weight: normal;
	line-height: 36px;
}
.contact-information .contact-us .contact-sec {
	padding: 15px 0;
	border-bottom: 1px dashed #ccc;
}
.contact-information .contact-us .contact-sec h5 {
	font-size: 16px;
	color: #666666;
}
.contact-information .contact-us .contact-sec .phone {
	font-size: 22px;
	color: #e53146;
	font-weight: bold;
	line-height: 40px;
}
.contact-information .contact-us .contact-sec p {
	color: #666;
	line-height: 24px;
}
.contact-information .contact-us .contact-sec p a {
	color: #32a6ea;
}
.contact-information .contact-us .contact-sec .btn {
	color: #FFF;
	font-size: 16px;
	border-radius: 38px;
	background: #E53147;
	border: none;
	outline: none;
	height: 38px;
	line-height: 38px;
	padding: 0 40px;
	margin-top: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}
.contact-information .contact-us .contact-sec .btn:hover {
	background: #c9182e;
}
.contact-information .contact-us .contact-thi {
	padding: 10px 0;
	line-height: 20px;
}

/*========== åœ¨çº¿æ”¯ä»˜ ==========*/
.payment-method {
	overflow: hidden;
	margin: 50px 0 30px 0;
}
.payment-method ul {
	overflow: hidden;
	width: 1260px;
}
.payment-method ul li {
	float: left;
	position: relative;
	border: 1px solid #EAEAEA;
	overflow: hidden;
	padding: 10px;
	width: 540px;
	margin-right: 60px;
	margin-bottom: 25px;
}
.payment-method ul li .bank {
	display: block;
	float: left;
	height: 100px;
	margin-right: 20px;
}
.payment-method ul li .txt {
	float: left;
	font-size: 14px;
	color: #444;
	line-height: 24px;
	margin-top: 14px;
}
.payment-method ul li .speed-pay {
	width: 540px;
	overflow: hidden;
}
.payment-method ul li .speed-pay-hover {
	width: 540px;
	height: 100%;
	overflow: hidden;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.payment-method ul li .speed-pay-hover .ewm-part {
	display: block;
	background: url(/themes/roots/Abouts/images/pager/ewm-part.png) no-repeat center center;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 9;
	position: absolute;
	top: 0px;
	left: 0px;
}
.payment-method ul li .speed-pay-hover .ewm {
	display: block;
	height: 100px;
	position: absolute;
	z-index: 2;
	left: 15px;
	top: 10px;
	display: none;
}

/*========== æ‹›è˜ä¿¡æ¯ ==========*/
.recruitment_post { overflow: hidden; background: #FBFBFB; padding: 30px 0 20px; }

.recruitment_post .wrapper { width: 1120px; min-width: 1120px; margin: 0 auto; overflow: hidden; }

.recruitment_post .recruitment_post_bd { overflow: hidden; width: 1300px; margin-top: 40px; }

.recruitment_post .recruitment_post_bd li { float: left; background: #FFF; position: relative; text-align: center; padding: 35px 0 25px; margin-right: 50px; margin-bottom: 30px; border: 1px solid #EEE; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width: 240px; }

.recruitment_post .recruitment_post_bd li .tit { display: block; font-weight: normal; font-size: 22px; margin-bottom: 30px; margin-left: 35px; }

.recruitment_post .recruitment_post_bd li .salary { font-size: 14px; color: #F74B0D; display: block; margin-bottom: 20px; }

.recruitment_post .recruitment_post_bd li .place { display: block; color: #999999; margin-bottom: 40px; }

.recruitment_post .recruitment_post_bd li .icon_hot { display: inline-block; vertical-align: top; background: url(/themes/roots/Abouts/images/recruit_icon_hot.png) no-repeat center center; width: 29px; height: 12px; margin-left: 10px; }

.recruitment_post .recruitment_post_bd li .delivery { display: block; color: #FFF; font-size: 14px; background: #ABABAB; width: 120px; height: 30px; line-height: 30px; margin: 0 auto; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.recruitment_post .recruitment_post_bd li .delivery:hover { background: #F74B0D; }

.company_benefits { padding: 30px 0; }

.company_benefits .company_benefits_bd { padding: 50px 0 20px; }

.company_benefits .company_benefits_bd img { display: block; width: 1000px; margin: 0 auto; }

.interview_delivery { padding: 30px 0 50px; overflow: hidden; }

.interview_delivery .interview_delivery_bd { overflow: hidden; width: 1100px; margin: 50px auto 0; }

.interview_delivery .interview_delivery_bd .txt { width: 490px; padding: 30px 0 30px 50px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #EEE; }

.interview_delivery .interview_delivery_bd .txt .tit { display: block; margin-bottom: 15px; font-size: 18px; color: #f74a0d; }

.interview_delivery .interview_delivery_bd .txt p { font-size: 14px; line-height: 28px; }

.interview_delivery .interview_delivery_bd .txt p span { color: #f74a0d; }

.job_description { padding: 40px 0 60px; }

.job_description .job_bd { width: 1100px; margin: 0 auto; }

.job_description .job_bd .job_tit { position: relative; border-bottom: 1px solid #eee; padding-bottom: 12px; }

.job_description .job_bd .job_tit h2 { font-size: 22px; font-weight: normal; margin-bottom: 15px; }

.job_description .job_bd .job_tit .salary { font-size: 14px; color: #f74a0d; font-weight: bold; }

.job_description .job_bd .job_tit .icon_delete { position: absolute; width: 28px; height: 28px; right: 0; top: 15px; cursor: pointer; background: url(/themes/roots/Abouts/images/recruit_icon_delete.png) no-repeat center center; }

.job_description .job_bd .job_txt { padding: 20px 0; font-size: 14px; color: #666666; }

.job_description .job_bd .job_txt .department { margin-bottom: 25px; }

.job_description .job_bd .job_txt p { line-height: 26px; }

.job_description .job_bd .job_txt strong { font-size: 16px; display: block; margin: 25px 0 10px; }

.job_description .job_bd .job_txt .address { margin: 30px 0 10px; }

.job_description .job_bd .want_job { color: #FFF; font-weight: bold; display: block; width: 180px; height: 45px; line-height: 45px; text-align: center; background: #F74A0D; font-size: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.job_description .job_bd .want_job:hover { background: #ca3a07; }


/*========== å¼¹çª— ==========*/

/*h1, h2, h3, h4, h5, h6, p { margin: 0 !important; padding: 0 !important; }*/
.myModal {
	width: 100% !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
}
.modal-open {
	padding: 0 !important;
	margin: 0 !important;
}
.modal-backdrop {
	overflow: hidden;
}

/*.wrapper { overflow: hidden; }*/
.modal-dialog {
	margin-top: 10% !important;
}
.modal-dialog {
	width: 464px !important;
}
.modal-content {
	border: none !important;
	box-shadow: none !important;
	background: none !important;
	width: 464px !important;
}
.up-load-box {
	position: relative;
	width: 464px;
}
.up-load-box .close {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5;
	background: url(/themes/roots/Abouts/images/pager/icon45.png) #fff no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 15px !important;
	opacity: 1 !important;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
.up-load-box .up-load {
	background: #FFF;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	width: 430px;
	height: 320px;
	overflow: hidden;
	text-align: center;
}
.up-load-box .up-load .ico {
	display: block;
	background: url(/themes/roots/Abouts/images/pager/icon43.png) no-repeat center center;
	width: 51px;
	height: 68px;
	cursor: pointer;
	margin: 40px auto 0 auto;
}
.up-load-box .up-load .ico:hover {
	background: url(/themes/roots/Abouts/images/pager/icon44.png) no-repeat center center;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.up-load-box .up-load h6 {
	font-size: 18px;
	color: #fe4e4c;
	font-weight: bold;
	line-height: 50px;
}
.up-load-box .up-load p {
	color: #828181;
	font-size: 12px;
	line-height: 20px;
}
.up-load-box .up-load .now {
	display: block;
	color: #FFF !important;
	font-size: 16px;
	background: #DDE1E3;
	width: 130px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border: none;
	outline: none;
	margin: 0 auto 0 auto;
}
.up-load-box .up-load .txt {
	height: 100px;
}
.up-load-box .up-load .now:hover {
	background: #FE4E4C;
}
.up-load-box .up-load .txt02 {
	margin-top: 90px;
	margin-bottom: 30px;
}
.up-load-box .up-load .txt02 h6 {
	color: #dad9d9;
	font-weight: normal;
	text-align: left;
	margin-left: 50px !important;
}
.up-load-box .up-load .txt02 .jianli {
	background: #F7F7FB;
	margin: 0 30px;
	padding: 10px 15px;
	text-align: left;
}
.up-load-box .up-load .txt02 .jianli .icon {
	width: 26px;
	height: 32px;
	display: inline-block;
	margin-right: 10px;
}
.up-load-box .up-load .txt02 .jianli span {
	font-size: 14px;
}
.up-load-box .up-load .txt02 .jianli .cos {
	float: right;
	display: block;
	width: 11px;
	height: 11px;
	background: url(/themes/roots/Abouts/images/pager/icon08.png) no-repeat center center;
	margin-top: 12px;
	cursor: pointer;
}
.up-load-box .up-load .txt02 .jianli .cos:hover {
	background: url(/themes/roots/Abouts/images/pager/icon09.png) no-repeat center center;
}

/*========== å³ä¾§å›ºå®šå¯¼èˆªæ  ==========*/
.all-nav-right {
	position: fixed;
	top: 300px;
	right: 20px;
	z-index: 9;
}
.all-nav-right ul li {
	margin-bottom: 5px;
	position: relative;
}
.all-nav-right ul li a {
	display: block;
	width: 50px;
	height: 50px;
}
.all-nav-right ul li .a1 {
	background: url(/themes/roots/Abouts/images/pager/icon32.jpg) no-repeat center center;
}
.all-nav-right ul li .a2 {
	background: url(/themes/roots/Abouts/images/pager/icon33.jpg) no-repeat center center;
}
.all-nav-right ul li .a3 {
	background: url(/themes/roots/Abouts/images/pager/icon34.jpg) no-repeat center center;
}
.all-nav-right ul li .a4 {
	background: url(/themes/roots/Abouts/images/pager/icon35.jpg) no-repeat center center;
}
.all-nav-right ul li .a5 {
	background: url(/themes/roots/Abouts/images/pager/icon39.jpg) no-repeat center center;
}
.all-nav-right ul li:hover .a1 {
	background: url(/themes/roots/Abouts/images/pager/icon36.jpg) no-repeat center center;
}
.all-nav-right ul li:hover .a2 {
	background: url(/themes/roots/Abouts/images/pager/icon37.jpg) no-repeat center center;
}
.all-nav-right ul li:hover .a3 {
	background: url(/themes/roots/Abouts/images/pager/icon38.jpg) no-repeat center center;
}
.all-nav-right ul li:hover .a4 {
	background: url(/themes/roots/Abouts/images/pager/icon35.jpg) no-repeat center center;
}
.all-nav-right .open {
	display: none;
	position: absolute;
	right: 54px;
	bottom: 0;
	background: #FFF;
	border: 1px solid #ddd;
	padding: 15px;
}
.all-nav-right .open .down {
	color: #333;
	font-size: 16px;
	text-align: center;
	margin: 7px 0;
}
.all-nav-right .open .down i {
	display: inline-block;
	height: 20px;
	width: 14px;
	background: url(/themes/roots/Abouts/images/pager/icon40.png) no-repeat center center;
	vertical-align: middle;
	margin-right: 7px;
	margin-top: -2px;
}
.all-nav-right .open p {
	color: #999;
	font-size: 14px;
	line-height: 20px;
}

/*========== åº•éƒ¨ ==========*/
.bread-nav-box .wrapper {
	overflow: hidden;
}
.bread-nav-box .bread-nav {
	float: right;
	border: 1px solid #DDD;
	cursor: pointer;
	border-bottom: 0;
	padding: 8px 16px;
	background: #fff;
}
.bread-nav-box .bread-nav span {
	color: #000;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
}
.bread-nav-box .bread-nav i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/themes/roots/Abouts/images/pager/icon08.png) no-repeat center center;
	vertical-align: middle;
	margin-top: -3px;
}
.bread-nav-box .bread-nav .open-arrow {
	background: url(/themes/roots/Abouts/images/icon47.png) no-repeat center center;
}
.bread-nav-box .bread-nav-con {
	border-top: 1px solid #ddd;
	margin-top: -1px;
	padding: 30px 0;
	min-width:1220px;
}
.bread-nav-box .bread-nav-con .wrapper {
	overflow: hidden;
}
.bread-nav-box .bread-nav-con ul {
	overflow: hidden;
	width: 1300px;
}
.bread-nav-box .bread-nav-con ul li {
	float: left;
	width: 152px;
}
.bread-nav-box .bread-nav-con ul li a {
	display: block;
}
.bread-nav-box .bread-nav-con ul li h6 {
	font-size: 18px;
	color: #000;
	height: 40px;
	line-height: 40px;
}
.bread-nav-box .bread-nav-con ul li a {
	display: block;
	color: #999;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.footer-about {
	background: #000;
	padding: 15px 0;
	min-width:1220px;
}
.footer-about .footer-fir {
	overflow: hidden;
	margin-bottom: 15px;
}
.footer-about .footer-fir .footer-fir-left {
	float: left;
}
.footer-about .footer-fir .footer-fir-left ul {
	overflow: hidden;
}
.footer-about .footer-fir .footer-fir-left ul li {
	float: left;
	overflow: hidden;
	margin-right: 40px;
	cursor: pointer;
}
.footer-about .footer-fir .footer-fir-left ul li i {
	display: block;
	float: left;
	margin-right: 7px;
}
.footer-about .footer-fir .footer-fir-left ul li .i01 {
	background: url(/themes/roots/Abouts/images/pager/icon10.png) no-repeat center center;
	width: 40px;
	height: 40px;
}
.footer-about .footer-fir .footer-fir-left ul li .i02 {
	background: url(/themes/roots/Abouts/images/pager/icon11.png) no-repeat center center;
	width: 39px;
	height: 45px;
}
.footer-about .footer-fir .footer-fir-left ul li .i03 {
	background: url(/themes/roots/Abouts/images/pager/icon12.png) no-repeat center center;
	width: 37px;
	height: 42px;
}
.footer-about .footer-fir .footer-fir-left ul li .i04 {
	background: url(/themes/roots/Abouts/images/pager/icon13.png) no-repeat center center;
	width: 44px;
	height: 36px;
}
.footer-about .footer-fir .footer-fir-left ul li .i05 {
	background: url(/themes/roots/Abouts/images/pager/icon15.png) no-repeat center center;
	width: 44px;
	height: 40px;
}
.footer-about .footer-fir .footer-fir-left ul li .i06 {
	background: url(/themes/roots/Abouts/images/pager/icon14.png) no-repeat center center;
	width: 40px;
	height: 34px;
}
.footer-about .footer-fir .footer-fir-left ul li:hover .i01 {
	background: url(/themes/roots/Abouts/images/pager/icon16.png) no-repeat center center;
}
.footer-about .footer-fir .footer-fir-left ul li:hover .i02 {
	background: url(/themes/roots/Abouts/images/pager/icon17.png) no-repeat center center;
}
.footer-about .footer-fir .footer-fir-left ul li:hover .i03 {
	background: url(/themes/roots/Abouts/images/pager/icon18.png) no-repeat center center;
}
.footer-about .footer-fir .footer-fir-left ul li:hover .i04 {
	background: url(/themes/roots/Abouts/images/pager/icon19.png) no-repeat center center;
}
.footer-about .footer-fir .footer-fir-left ul li:hover .i05 {
	background: url(/themes/roots/Abouts/images/pager/icon21.png) no-repeat center center;
}
.footer-about .footer-fir .footer-fir-left ul li:hover .i06 {
	background: url(/themes/roots/Abouts/images/pager/icon20.png) no-repeat center center;
}
.footer-about .footer-fir .footer-fir-left ul li span {
	color: #999;
	line-height: 18px;
	display: block;
	float: left;
}
.footer-about .footer-fir .footer-fir-right {
	float: right;
	background: url(/themes/roots/Abouts/images/pager/icon22.png) no-repeat left top;
	padding-left: 40px;
	padding-top: 5px;
}
.footer-about .footer-fir .footer-fir-right p {
	color: #FFF;
	font-weight: bold;
	font-size: 26px;
	line-height: 18px;
}
.footer-about .footer-fir .footer-fir-right p span {
	color: #9f9f9f;
	font-size: 14px;
	font-weight: normal;
}
.footer-about .footer-sec {
	border-top: 1px solid #484848;
	padding-top: 15px;
	overflow: hidden;
}
.footer-about .footer-sec .footer-sec-nav {
	display: block;
	float: left;
}
.footer-about .footer-sec .footer-sec-nav a {
	color: #FFF;
}
.footer-about .footer-sec .footer-sec-nav i {
	color: #4c4b4b;
	margin: 0 5px;
	font-style: normal;
}
.footer-about .footer-sec .copyright {
	display: block;
	float: right;
	color: #999;
}
