/*我的好友功能界面样式*/
/*聊天功能外观*/
.chatweb{
    width: 702px;
    height: 602px;
    margin: 0 auto 50px;
    border: 1px solid silver;
}
.chatwebleft{
    width: 700px;
    height: 600px;
    background-color: #ffffff;
}
/*聊天内容框样式*/
.chatcontaintop{
    width: 702px;
    height: 30px;
    border-bottom: 1px solid silver;
}
.chatcontainmid{
    width: 702px;
    height: 420px;
    border-bottom: 1px solid silver;
}
.chatcontainbottom{
    width: 702px;
    height: 150px;
    background-color: #ffffff;
}
.expression{
    height: 29px;
    border-bottom: 1px solid silver;
}
.chatcontainbottom textarea{
    width: 698px;
    height: 75px;
    resize: none;
    margin: 0 0;
    border:none;
    outline:none;
    font-size: 16px;
}
.chatcontainbottom button{
    float: right;
    margin-right: 15px;
    width: 70px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    font-size: 9px;
}
.close_btn {
    background: url('../images/zdxt/icon.png') no-repeat 0 0;
    top: 10px;
    right: 8px;
    display: inline-block;
    float: right;
    margin: 10px 10px 0 0;
    width: 15px;
    height: 15px;
}
/*内容显示样式*/
.xiaomingcontian{
    margin: 10px;
    padding: 5px 15px;
    background-color: yellow;
    border-radius: 10px;
}
.xiaojiongcontian{
    display: block;
    margin: 10px;
    padding: 20px 15px;
    background-color: #c1e2b3;
    border-radius: 10px;
}
/*qq表情*/
.emotion:hover{background-position:2px -28px}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
#show{width:680px; margin:20px auto}