/*厂商样式*/
/*清除浮动*/
.clearfloat{
    clear: both;
}
/*导航样式*/
.container_sog{
    margin-left: 50px;
    margin-right: 50px;
}
.newlist_pro_list1_left{
    float: left;
}
.newlist_con>li{
    float: left;
    margin-left: 20px;

}
.newlist_con li a{
    text-align: center;
}
/*下拉隐藏*/
.drop_list ul{
    display: none;
    text-align: center;
    border: 1px solid silver;
    border-top: none;

}
.drop_list:hover ul{
    display: block;
}
.newlist_con li>a{
    display: block;
    text-align: center;
}
.drop_list ul a{
    border-top: 1px solid silver;
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: black;
    margin-left: -40px;
    background-color: peachpuff;
}
.drop_list ul li:hover a{
    background-color: #2aabd2;
    display: block;
    color: red;
}
.drop_list i{
    margin-left: 8px;
}
.drop_list{
    height: 20px;
    width: 100px;
    position: relative;
    z-index: 99999;
}
.drop-list ul{
    padding: 0;
    position: absolute;
    right: 50px;
    top: 20px;
}
/*中间展示层*/
.show_all{
    margin-top: 50px;
    border: 1px solid silver;
    height: 300px;
}
.show_left{
    height: 300px;
    width: 200px;
    border: 1px solid red;
    float: left;
    margin-right:50px;
}
.show_middle{
    height: 300px;
    width: 500px;
    float: left;
}
.show_right{
    height: 300px;
    width: 200px;
    float: right;
    border: 1px solid red;
}