<div data-ng-controller="goodsController">
    <h1>商品上架</h1>
    <div class="container container-inner">
        <div style="border-bottom: 1px solid #cccccc;margin-bottom: 20px;"></div>
        <div style="border: 1px solid #cccccc;background-color: #f8f8f8;margin-bottom: 20px;padding: 5px 5px;">
            商品名: <input type="text" ng-model="goods.name" />
            单价: <input type="text" ng-model="goods.price" />
            时间: <input type="text" ng-model="goods.time" placeholder="选择创建时间" datetimepicker="" />
            <input type="button" class="btn btn-danger" value="添加" ng-click="goodsform.add()" />
        </div>
        <table class="table table-striped table-bordered">
            <thread>
                <tr>
                    <td style="width: 80px">操作</td>
                    <td style="width: 170px">商品</td>
                    <td style="width: 50px">单价</td>
                    <td style="width: 160px">数量</td>
                    <td style="width: 140px">金额</td>
                    <td style="width: 100px">所属用户</td>
                    <td style="width:120px">时间</td>
                    <td style="width: 80px">下架</td>
                </tr>
            </thread>
            <tbody>
            <tr ng-repeat="goods in goodsform.goodsforms">
                <td><input type="checkbox" ng-model="goods.select"></td>
                <td>{{ goods.name}}</td>
                <td>{{ goods.price }}</td>
                <td>
                    <input type="button" value="-"  ng-click="goods.add(goods,-1)">
                    <input type="text" maxlength="2" ng-model="goods.number" style="width: 60px;text-align: center">
                    <input type="button" value="+"  ng-click="goods.add(goods,1)">
                </td>
                <td>{{ goods.price * goods.number }}</td>

                <td>{{ goods.owner}}</td>
                <td>{{ goods.time}}</td>
                <td style="text-align: center;width: 110px">
                    <input ng-click="goodsform.del(goods)" type="button" class="btn btn-danger" value="下架"/>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <div>
                    <span>
                    <input id="selectAll" type="checkbox" ng-model="goodsform.AllSelect" ng-click="goodsform.seletAll()"/>
                    <label class="allselect" for="selectAll">全选</label>
                    </span>
                    </div>
                </td>
                <td>
                    <span></span>
                </td>
                <td>
                    <span></span>
                </td>
                <td>
                    <span>数量：{{goodsform.Allnumber}}</span>
                </td>
                <td>
                    <span>总计：{{goodsform.Allprice}}</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>

        <div ng-show="goodsform.goodsforms.length == 0" >
            <h3 style="color: red">你的商品目录妙手空空，请您上架所出售的商品吧！</h3>
        </div>
    </div>
</div>