<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a href="#/introduction"> <i class="fa fa-book"><span class="icon-bg bg-danger"></span></i><span>介绍</span> </a></li>
        <li>
            <a href="#/bill"><i class="fa fa-clone"><span class="icon-bg bg-orange"></span></i><span>账单</span></a>
            <ul>
                <li><a href="#/bill/setupBill"><i class="fa fa-caret-right"></i><span>创建账单</span></a></li>
                <li><a href="#/bill/incomeBill"><i class="fa fa-caret-right"></i><span>查询账单</span></a></li>
                <li><a href="#/bill/payoutCompare"><i class="fa fa-caret-right"></i><span>支出对比</span></a></li>
                <li><a href="#/bill/incomeCompare"><i class="fa fa-caret-right"></i><span>收入对比</span></a></li>
                <li><a href="#/bill/profit"><i class="fa fa-caret-right"></i><span>利润计算</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/producers"><i class="fa fa-building"><span class="icon-bg bg-warning"></span></i><span>厂商</span></a>
            <ul>
                <li><a href="#/producers/sourceOfGoods"><i class="fa fa-caret-right"></i><span>货源商</span></a></li>
                <li><a href="#/producers/thing"><i class="fa fa-caret-right"></i><span>用品商</span></a></li>
                <li><a href="#/producers/buyUsers"><i class="fa fa-caret-right"></i><span>收购商</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/product"><i class="fa fa-gift"><span class="icon-bg bg-success"></span></i><span>产品</span></a>
            <ul class="sub-nav">
                <li><a href="#/goods/mangerGoods"><i class="fa fa-caret-right"></i><span>商品添加</span> </a></li>
                <li><a href="#/goods/onlineGoods"><i class="fa fa-caret-right"></i><span>在售商品</span> </a></li>
                <li><a href="#/goods/soldGoods"><i class="fa fa-caret-right"></i><span>售玩商品</span></a></li>
                 <li><a href="#/goods/unshelveGoods"><i class="fa fa-caret-right"></i><span>下架商品</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/friends"><i class="fa fa-users"><span class="icon-bg bg-primary-light"></span></i><span>好友</span></a>
            <ul>
                <li><a href="#/friends/goodFriends"><i class="fa fa-caret-right"></i><span>我的好友</span></a></li>
                <li><a href="#/friends/producersFriends"><i class="fa fa-caret-right"></i><span>产商朋友</span></a></li>
                <li><a href="#/friends/buyUsersFriends"><i class="fa fa-caret-right"></i><span>收购商朋友</span></a></li>
                <li><a href="#/friends/badFridens"><i class="fa fa-caret-right"></i><span>黑名单</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/user"><i class="fa fa-user"><span class="icon-bg bg-primary"></span></i><span>个人</span></a>
            <ul>
                <li><a href="#/user/myInfo"><i class="fa fa-caret-right"></i><span>我的信息</span></a></li>
                <li><a href="#/user/emailManger"><i class="fa fa-caret-right"></i><span>邮件管理</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/other"><i class="fa fa-cog"><span class="icon-bg bg-violet"></span></i><span>其他</span></a>
            <ul>
                <li><a href="#/other/helpMe"><i class="fa fa-caret-right"></i><span>帮助</span></a></li>
                <li><a href="#/other/skinSet"><i class="fa fa-caret-right"></i><span>皮肤设置</span></a></li>
                <li><a href="#/page/signin"><i class="fa fa-caret-right"></i><span>退出系统</span></a></li>
            </ul>
        </li>
    </ul>
</div>