/*整体样式*/
.wrapper-content {
    padding: 20px 0 40px 0!important;
}
ul{
    list-style: none;
}
@media (max-width:768px){

}
/*左边样式*/
/*每个li的样式*/
#item-list>li {
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 25px 50px;


}
    /*logo样式*/
.logo-box{
    text-align: left!important;
}
.logo-box .logo {
    width: 120px;
    height: 120px;
    display: block;
    clear: both;
    border: 1px solid #eee;
    margin-right: 20px;
    background: #fff;
    overflow: hidden;
    line-height: 120px;
    text-align: left;
}
.logo-box .logo img {
    width: 120px;
    height: 120px;
    padding: 0!important;
}
    /*中间详情样式*/
.txt_box{
    border-right: 1px solid #eee;
    text-align: left!important;
}
.aution span{
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background: #9cb6af;
    text-align: center;
    line-height: 1.2em;
    font-size: 0.8em;
    color: white;
    font-weight: bold;
}
.aution .s7{
    background-color: #31b0d5;
}
.txt_box h4 a {
    font-size: 1.1em;
    font-weight: bolder;
    color: #333;
}
.txt_box .add{
    height: 30px;
    line-height: 16px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
}
.free_part .free_baojia{
    display: inline-block;
    background: #ff890b;
    text-align: center;
    color: #fff;
    width: 140px;
    height: 40px;
    font-size: 1em;
    line-height: 40px;
    margin-right: 8px;
    margin-bottom: 3px;
}
.free_part .free_zixun {
    display: inline-block;
    border: 1px solid #ff890b;
    text-align: center;
    color: #ff890b;
    width: 140px;
    height: 40px;
    font-size: 1em;
    line-height: 38px;
}
#item-list li:hover{
    background-color: #fafafa;
}
    /*右边口碑值*/
.num_box {
    text-align: center;
    margin-top: 30px;
}
.num_box strong{
    text-align: center;
    color: #ff890b;
    display: block;
    font-size: 32px;
    height: 32px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 10px;
}
/*右边相关信息样式*/
.login{
    text-align: center;
}
.form{
    text-align: center;
}
.form-group{
    width: 220px;
}
.form-group label,.form-group input{
    width: 220px;
}
.form-group select{
    display: inline-block;
    height: 34px;
}
#s_province{
    width:110px;
    margin-left: 13px;
}
#s_city{
    width: 80px;
}
.find_company h4 {
    font-size: 18px;
    font-weight: normal;
    border-left: 3px solid #d6162d;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 15px;
}
.well_known h4 {
    font-size: 18px;
    font-weight: normal;
    border-left: 3px solid #d6162d;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 15px;
}
.new_order h4 {
    font-size: 18px;
    font-weight: normal;
    border-left: 3px solid #d6162d;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 15px;
}
.new_order table th {
    border-bottom: 1px solid #eee;
    color: #999;
    font-weight: normal;
    font-size: 14px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.new_order table td {
    height: 40px;
    line-height: 14px;
    color: #666;
    border-bottom: #d8d8d8 dotted 1px;
    padding: 5px 0;
    text-align: center;
}
/*不生效*/
/*@media screen and (min-width: 750px){
    .well_known,.new_order,.login,.find_company{
        width: 100%
    }
}*/
.well_known,.new_order,.login,.find_company{
    border: 1px solid #eee;
    padding: 20px 10px;
    margin-bottom: 20px;
    width: 280px;
;
}
.well_known span a {
    padding: 3px 2px;
    margin: 10px 0px;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    color: #999;
    font-size: 9px;
}
.well_known li{
    margin-left: -30px;
    height: 1.8em;
    line-height: 1.8em;
}
.well_known li h6 {
    font-size: 1em;
    font-weight: 300;
}
.well_known li a {
    display: block;
    overflow: hidden;
    padding: 3px 0 3px 12px;
    background: url(../../dot02.png) no-repeat scroll left center;
}
.find_company li i {
    background: url(../../icon_shop_list.png) no-repeat;
    display: block;
    float: left;
    width: 40px;
    height: 38px;
    margin-top: 7px;
}
.find_company ul{
    margin-left: -25px;
}
.find_company li i.i-08 {
    background-position: 0 0;
}
.find_company li i.i-09 {
    background-position: -40px 0;
}
.find_company li i.i-10 {
    background-position: -80px 0;
}
.find_company li i.i-11 {
    background-position: -120px 0;
}
.find_company .btn {
    display: block;
    color: #fff;
    background: #e62e35;
    text-align: center;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    outline: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.find_company li .txt h6 a {
    font-size: 14px;
    font-weight: bolder;
}
.find_company li .txt {
    float: right;
    width: 220px;
    padding: 10px 0;
}